* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 1200px;
}

header {
  background-image: linear-gradient(#f0efed, #dfdcd6);
  padding: 5px 20px;
}

header div {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

#logo {
  width: 200px;
}

header form {
  display: flex;
  align-items: center;
}

#corporate {
  background: linear-gradient(#2869b4, #144071);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

input {
  height: 25px;
  width: 180px;
  border-radius: 6px;
  padding-inline: 5px;
  box-shadow: 0.5px 0.5px 3px black inset;
}

#search {
  background: none;
  border: none;
}

.info {
  display: flex;
  list-style: none;
  justify-content: end;
  text-shadow: 1px 0px white;
}

.info a {
  text-decoration: none;
  color: #000;
}

.info span {
  color: gray;
  margin: 10px;
}

footer {
  background: linear-gradient(#e6e3dd, #cfc9c0);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

footer span {
  font-weight: bold;
}

#increase {
  color: #4ba044;
}