/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: sans-serif;
  width: 1200px;
  color: #404b52;
}

/* Header Styles */
header {
  background-image: linear-gradient(#f0efed, #dfdcd6);
  padding: 8px 20px;
}

header div {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

#logo {
  width: 200px;
}

header form {
  display: flex;
  align-items: center;
}

#corporate {
  background: linear-gradient(#2869b4, #144071);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  margin-right: 10px;
}

/* Common Styles */
button {
  cursor: pointer;
}

input {
  height: 25px;
  width: 180px;
  border-radius: 6px;
  padding-inline: 5px;
  box-shadow: 0.5px 0.5px 3px black inset;
}

#search {
  background: none;
  border: none;
}

.info {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  text-shadow: 1px 0px white;
}

a {
  text-decoration: none;
}

.info a {
  color: #000;
}

.info span {
  color: gray;
  margin: 10px;
}

/* Banner Styles */
.banner {
  background-image: url("img/group.png"), linear-gradient(#2b5e96, #173353);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 20px;
}

.banner form {
  width: 350px;
  border: 1px solid white;
  background: #d4dbe3;
}

.banner div {
  background: linear-gradient(#103a67, #2769b4);
  color: white;
  padding: 15px 20px;
}

.banner h1 {
  font-weight: normal;
  letter-spacing: 2px;
}

.banner h2 {
  font-weight: normal;
  font-size: 16px;
}

.banner form>*:not(div) {
  display: block;
  margin: 15px 25px;
}

.banner label {
  font-weight: bold;
}

.banner input {
  width: 200px;
}

.banner a {
  font-weight: bold;
  font-size: 14px;
}

.banner form button {
  color: white;
  background: linear-gradient(#555555, #919191);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  font-size: 15px;
}

.banner form button+a {
  margin-left: 8px;
}

.banner form+button {
  width: 350px;
  text-align: center;
  border: 1px solid white;
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 22px;
  letter-spacing: 2px;
  background: linear-gradient(#103a67, #2769b4);
  color: white;
}

/* Posts Styles */
#posts {
  background: #1f446d;
}

#posts h2 {
  background: #d4dbe3;
  font-size: 18px;
  padding: 10px 20px;
}

#posts .container {
  display: flex;
  padding: 20px 30px;
  gap: 20px;
}

#posts article {
  background: #fff;
  display: flex;
  padding: 15px;
  gap: 20px;
  font-size: 15px;
}

#posts img {
  height: 100px;
  width: 100px;
}

#posts h3 {
  margin-bottom: 5px;
}

/* Footer Styles */
footer {
  background: linear-gradient(#e6e3dd, #cfc9c0);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

footer span {
  font-weight: bold;
}

#increase {
  color: #4ba044;
}