* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

body {
  position: relative;
  width: 1300px;
}

a {
  color: black;
}

header {
  padding: 20px 30px;
}

h1 {
  font-family: "Comic Sans MS", sans-serif;
  display: inline-block;
}

h2 {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
}

main {
  background-image: radial-gradient(#6f5964, #6f5964, #1e0e12);
  min-height: 1000px; /** ...... borrar .......*/
}

footer {
  text-align: center;
  padding: 10px;
}

footer p {
  margin-bottom: 15px;
}

footer img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-inline: 3px;
}
