* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

html {
  background-image: url("img/css.png");
  background-size: 50px;
  background-position: 0px 25px;
}

body {
  position: relative;
  width: 1075px;
}

a {
  color: black;
}

header {
  background-color: #fff;
  padding: 20px 30px;
}

h1 {
  font-family: "Comic Sans MS", sans-serif;
  display: inline-block;
}

h2 {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px;
}

main {
  background-image: radial-gradient(#6f5964, #6f5964, #1e0e12);
  padding: 30px;
  min-height: 1000px; /** ...... borrar .......*/
}

#me {
  height: 310px;
  width: auto;
  border: 5px solid #c0c0c0;
  margin-right: 30px;
}

.description {
  display: inline-block;
  height: 320px;
  width: 495px;
  background-image: linear-gradient(to right, white, #dacbd9);
  vertical-align: top;
}

h3,
h4 {
  font-size: 24px;
  padding: 15px;
  background-image: linear-gradient(to top, #b2b2b6, #878593, #b2b2b6);
  color: white;
}

.description p {
  margin: 20px 15px;
}

.description a {
  display: block;
  margin: 25px 15px;
}

article:nth-of-type(2),
article:nth-of-type(3) {
  margin-right: 30px;
}

.project {
  display: inline-block;
  width: 314px;
  background-image: linear-gradient(to right, white, #dacbd9);
  margin-top: 30px;
  vertical-align: top;
}

.project > img {
  width: 314px;
}

.project p {
  padding: 10px;
  text-align: justify;
  height: 180px;
}

.project h4 {
  font-size: 18px;
}

.technology {
  width: 40px;
  height: auto;
  margin: 8px;
}

img.technology:nth-of-type(1) {
  margin: 16px 8px 8px 16px;
}

img.technology:nth-of-type(2),
img.technology:nth-of-type(3),
img.technology:nth-of-type(4) {
  margin: 16px 8px 8px 8px;
}

img.technology:nth-of-type(5) {
  margin: 8px 16px 8px 8px;
}

img.technology:nth-of-type(6) {
  margin: 8px 8px 8px 16px;
}

footer {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
  margin-bottom: 15px;
}

footer img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-inline: 3px;
}
