* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  background-image: url("img/python-bg.png");
  background-size: 75px;
  background-position: 37px 37px;
}

body {
  width: 1200px;
  font-family: sans-serif;
}

header {
  background-color: #245076;
  color: white;
  box-shadow: inset 0px -3px 5px black;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

#logo {
  height: 80px;
  width: auto;
}

form p {
  display: inline-block;
  margin-left: 90px;
}

form span {
  color: black;
}

label {
  color: #f9d030;
  text-decoration: underline;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

form div {
  background-color: #444444;
  padding: 12px 40px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px black;
}

input[type="text"] {
  padding: 7px;
  text-align: center;
}

form button {
  margin-left: 3px;
  padding: 5px 8px;
  background-color: #245076;
  color: white;
  border-radius: 5px;
}

nav {
  margin: 10px auto;
  width: 950px;
  background-color: #457dad;
  padding: 15px 40px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px black;
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
}

#information {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  margin-left: 100px;
  align-self: self-start;
  margin-top: 10px;
}

#information li {
  margin: 12px 0;
}

#information li::before {
  content: "\00BB";
  color: #f9d030;
  margin-right: 5px;
}

#information a {
  color: white;
}

#information + div {
  width: 670px;
  margin-right: 90px;
  text-align: center;
}

.message {
  display: block;
  color: #f9d030;
  font-style: italic;
  font-size: 22px;
  margin: 15px;
}

.message + p {
  font-size: 18px;
  margin: 20px;
}

main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 120px;
  text-align: center;
}

main article {
  width: 340px;
  border-top: 5px solid #73a7d5;
  padding: 0 60px;
}

main h2 {
  margin: 10px 0;
  font-weight: normal;
}

main a {
  text-decoration: none;
  color: #73a7d5;
}

main ul {
  list-style-type: square;
  margin-top: 15px;
}

main li {
  margin: 5px 0;
}

footer {
  background-image: linear-gradient(#245177, #3274ac);
  padding-top: 70px;
  padding-bottom: 10px;
}

footer ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  width: 720px;
  justify-content: space-between;
}

footer a {
  color: #87b9e5;
  text-decoration: none;
  font-size: 20px;
}

footer p {
  color: #87b9e5;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
