* {
  margin: 0;
  padding: 0;
}

body {
  margin: 15px;
  width: calc(100% - 30px);
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

header {
  background: green;
  height: 100px;
  width: 100%;
}

.sidebar {
  display: none;
}

main {
  background: red;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.article {
  background: yellow;
  height: 150px;
  width: 100%;
}

.section {
  background: blueviolet;
  height: 100px;
  width: 100%;
}

@media only screen and (min-width: 481px) {
  .article {
    width: calc(50% - 7.5px);
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    display: block;
    background: blue;
    width: calc(20% - 22.5px);
    height: 250px;
  }

  main {
    width: calc(80% - 22.5px);
    height: 270px;
  }

  .article {
    width: calc(100% / 3 - 10px);
  }
}
